<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUsa3ix9iC7kt0WQIaxwoWMWhxnVs7uvM</string>
	<key>GCM_SENDER_ID</key>
	<string>414405662279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acdoctortechnicain</string>
	<key>PROJECT_ID</key>
	<string>actechnician-app</string>
	<key>STORAGE_BUCKET</key>
	<string>actechnician-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414405662279:ios:a548074d4b70ed0a3f8362</string>
</dict>
</plist>